
@font-face {
	font-family: 'myFont';
	src: url('Acme-Regular.ttf'), format('ttf');
}

body {
	
	font-family: 'myFont',Helvetica, Verdana, sans-serif;
	background-color: #1A1E26;
	color:white;
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: #AAB1BF;
	padding: 5px;
	}

header {
	background-image: url("../plaatjes/hoofding.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	
	}
ul{
	list-style: square;
}
h1 {
	font-size: 90px;
	color:white;
	}

aside {
	color:  #1A1E26; 
	float: right;
	width: 20%;
	background-color: #AAB1BF;
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	}

	/*Misschien niet de beste manier...*/
aside.next{
	margin-top: 10px;
}

article {
	
	column-width: 12em;
	column-gap: 2cap;
	float:left;	
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	/*teks links en rechts uitvullen*/
	text-align: justify;
	
	padding: 10px;
	background-color: #686673;	/*lichtgrijs*/
	}
	
footer {
	clear: both;
	text-align: center;
	}

p.inleiding {
	font-style:italic;
	font-weight: bold;

}

p.citaat {
font-style: italic;
margin-left: 40px;
margin-right: 40px;
}